body {
    background-color: #faf3e1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

<!-- navbar -->

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e9c997;
    padding: 1rem 1rem;
    text-align: center;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    margin: 0 2rem;
}

<!-- page 1 -->

.container {
    background-color: #FFEBC9;
    padding: 2rem;
    text-align: center;
}

.team-logo {
    max-width: 500px;
    min-width: 300px;
    height: 350px;
    margin: 0 auto 2rem;
    display: block;
}

.h1 {
    margin-bottom: 1.5rem;
}

.paragraphs {
    max-width: 600px;
    margin: 0 auto 2rem;
    line-height: 1.6;
    font-size: 1rem;
}

.register-btn {
    background-color: #0bae60;
    border: none;
    height: 75px;
    width: 275px;
    margin: 30px;
    border-radius: 40px;
}

.register-btn a {
    font-size: x-large;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}


<!-- page 2 -->


.form-container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 0 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

label {
    font-weight: 500;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"] {
    padding: 0.5rem;
    border: none;
    background-color: #D3D3D3;
    border-radius: 2px;
    font-size: 1rem;
}

.gender-group {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.gender-option {
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.button-group a {
    text-decoration: none;
    color: #000;
}

.back-btn {
    background-color: #FF5252;
    color: #000;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}

.submit-btn {
    background-color: #00E676;
    color: #000;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
}


